# First things first, we merge the tags and questions data files

In [7]:
import pandas as pd
import numpy as np


questionsData = pd.read_csv('Questions.csv')
tags = pd.read_csv('Tags.csv')
questionsData.head()
tags.head()
print(tags.dtypes)

Id      int64
Tag    object
dtype: object

In [8]:
#Deleting unnecessary columns: OwnerUserId, CreationDate, ClosedDate, Score, Title

questionsData.pop('OwnerUserId')
questionsData.pop('CreationDate')
questionsData.pop('ClosedDate')
questionsData.pop('Score')
questionsData.pop('Title')

0          SQLStatement.execute() - multiple queries in o...
1          Good branching and merging tutorials for Torto...
2                                          ASP.NET Site Maps
3                         Function for creating color wheels
4          Adding scripting functionality to .NET applica...
                                 ...
1264211                             URL routing in PHP (MVC)
1264212             Bigquery.Jobs.Insert - Resumable Upload?
1264213                   Obfuscating code in android studio
1264214           How to fire function after v-model change?
1264215              npm run mocha test - files being cached
Name: Title, Length: 1264216, dtype: object

In [9]:
#Check columns
questionsData.head()

    Id                                               Body
0   80  <p>I've written a database generation script i...
1   90  <p>Are there any really good tutorials explain...
2  120  <p>Has anyone got experience creating <strong>...
3  180  <p>This is something I've pseudo-solved many t...
4  260  <p>I have a little game written in C#. It uses...

In [10]:
tags['Tag']= tags['Tag'].astype(str)
grouped_tags = tags.groupby("Id")['Tag'].apply(lambda tags: ' '.join(tags))

grouped_tags= grouped_tags.to_frame()
grouped_tags= grouped_tags.sort_values(by='Id')
grouped_tags.head()

                                                Tag
Id
80                          flex actionscript-3 air
90     svn tortoisesvn branch branching-and-merging
120                             sql asp.net sitemap
180  algorithm language-agnostic colors color-space
260         c# .net scripting compiler-construction

id
Tag1    object
Tag2    object
Tag3    object
Tag4    object
Tag5    object
dtype: object

id        Tag1               Tag2       Tag3                   Tag4 Tag5
80        flex     actionscript-3        air                    NaN  NaN
90         svn        tortoisesvn     branch  branching-and-merging  NaN
120        sql            asp.net    sitemap                    NaN  NaN
180  algorithm  language-agnostic     colors            color-space  NaN
260         c#               .net  scripting  compiler-construction  NaN

In [173]:
#Merging Dataframes
#tagsData.col1 = tagsData.col1.astype(str)
#questionsData.col2 = questionsData.col2.astype(str)
#tagsData.astype('str').dtypes
#questionsData.astype('str').dtypes
#print(tagsData['Tag1'].dtype)
#print(questionsData['Body'].dtype)

In [11]:
df = pd.merge(grouped_tags, questionsData, on='Id')
df.head()

,Id,Tag,Body
0,80,flex actionscript-3 air,<p>I've written a database generation script i...
1,90,svn tortoisesvn branch branching-and-merging,<p>Are there any really good tutorials explain...
2,120,sql asp.net sitemap,<p>Has anyone got experience creating <strong>...
3,180,algorithm language-agnostic colors color-space,<p>This is something I've pseudo-solved many t...
4,260,c# .net scripting compiler-construction,<p>I have a little game written in C#. It uses...

In [13]:
print(df.dtypes)

Id       int64
Tag     object
Body    object
dtype: object